.decenzureaza {
  background: #c7d5ed;
}
.decenzureaza a {
  cursor: pointer;
}
.decenzureazat {
  background: rgba(197,208,255,0.17);
}
._censoredBy {
  opacity: 0.7;
  color: #8f008f;
}
tr.expanded #detailsCategories span,
tr.expanded #detailsCategories span:hover {
  border: 0;
  background: 0;
  line-height: normal;
  -webkit-box-shadow: initial;
  white-space: normal;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.tableTorrents tr.expanded a {
  font-weight: normal;
}
.floatingDiv {
  position: fixed;
  left: 0;
  bottom: 50px;
  z-index: 999;
}
.floatingDiv.tadaAnimation {
  margin-left: 10px;
}
.floatingDiv .floatingIcon {
  text-decoration: none;
  background-color: #f5f4ea;
  border: solid #a79f72 1px;
  border-radius: 5px;
  margin: 1px;
  opacity: 0.7;
  transition: width 0.5s;
  width: 17px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  display: inline-block;
}
.floatingDiv .floatingIcon span {
  height: 19px;
  font-size: 12px;
  overflow: hidden;
  transition: visibility 0.4s;
  display: inline-block;
  line-height: 20px;
  visibility: hidden;
}
.floatingDiv .floatingIcon img {
  opacity: 0.5;
  transition: opacity 0.8s;
  float: right;
}
.floatingDiv .floatingIcon:hover {
  text-decoration: none;
  -webkit-box-shadow: #a79f72 0px 1px 5px;
  opacity: 1;
  width: 245px;
}
.floatingDiv .floatingIcon:hover span {
  visibility: visible;
}
.floatingDiv .floatingIcon:hover img {
  opacity: 1;
}
.postLike {
  font-weight: bold;
  font-size: 12px;
}
.imgFitSpoilers .comment .sp-body img:not(.zoomedIn) {
  max-width: 665px;
  cursor: -webkit-zoom-in;
}
.imgFit .comment img:not(.zoomedIn) {
  max-width: 690px;
  cursor: -webkit-zoom-in;
}
img.zoomedIn {
  cursor: -webkit-zoom-out;
}
.torrentTablePlus {
  background: rgba(180,233,172,0.3);
  position: relative;
}
.torrentTablePlus .torrentTablePlusTr:not(:empty) {
  position: absolute;
  white-space: nowrap;
  right: 0;
  padding: 5px 5px 0;
  border: solid #a79f72 1px;
  border-right: 0;
  background-color: #ece9d8;
  transition: all 0.3s;
}
.torrentTablePlus .torrentTablePlusTr [type="button"] {
  -webkit-appearance: push-button;
  -webkit-user-select: none;
  white-space: pre;
  padding: 1px 6px;
  vertical-align: middle;
  border: 2px outset buttonface;
  color: buttontext;
  text-decoration: none;
  cursor: pointer;
  margin: 1px;
}
.torrentTablePlus .torrentTablePlusTr .massAddSearchButton {
  display: inline-block;
  margin-left: 2px;
}
.torrentTablePlus .torrentTablePlusTr .massAddSearchButton input[type="checkbox"] {
  margin: 0;
  vertical-align: -webkit-baseline-middle;
}
.torrentTablePlus .torrentTablePlusTr .massAddSearchButton input[type="button"] {
  margin-right: 1px;
}
.torrentTablePlus .torrentTablePlusTr .expandableTorrents {
  width: 24px;
}
.tadaAnimation:not(:hover) {
  -webkit-animation: tada linear 1s infinite;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  10% {
    -webkit-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }

  20% {
    -webkit-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }

  30% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }

  40% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }

  50% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }

  60% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }

  70% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }

  80% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }

  90% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }

  100% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
}
.imgZoom {
  position: absolute;
  display: none;
}
